{% extends 'admin/base.html' %}

{% block body %}
    <!-- Preloader -->
    <div id="preloader-area">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- Preloader -->

    <!-- ======================================
    ******* Main Page Wrapper **********
    ======================================= -->

    <div class="main-container-wrapper">
        {% include 'admin/includes/nav.html' %}

        <div class="container-fluid page-body-wrapper">
            
            {% include 'admin/nav_sidebar.html' %}

            <!-- Main Page -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="container">
                        <div class="height-900"></div>
                    </div>

                    {% include 'admin/includes/footer.html' %}
                </div>
            </div>
        </div>
    </div>

    {% include 'admin/includes/footerjs.html' %}

{% endblock %}
