{% load i18n static %}
<!doctype html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Required meta tags -->

    <title>{% block title %}{% endblock %}</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'admin/img/core-img/favicon.png' %}">

    <!-- Master Stylesheet CSS -->
    <link rel="stylesheet" href="{% static 'admin/style.css' %}">

    {% block extrastyle %}{% endblock %}
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}

</head>

{% block body %} {% endblock %}

</html>
